/* jet: #2a2a2a
cinnabar: #d24928
vanilla: #feecac
night: #141414
bone: #EADDC8 */

/* to do: 
-remove buttons from container and add footer to each page
-button class */

body {
  font-family: "Poppins", sans-serif;
  background-image: url("images/mainbackgroundblur.jpg");
  /* background: linear-gradient(
    180deg,
    #2a2a2a,
    #3f3f3f,
    #545454,
    #696969,
    #7e7e7e,
    #939393,
    #a8a8a8
  ); */
  color: #141414;
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.divider {
  width: 75vw;
  height: 2px;
  background-color: #d24928;
  margin: 2vh 10vw;
  border: none;
  border-radius: 2px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2vh;
  background-color: transparent;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li a {
  display: block;
  color: #eaddc8;
  text-align: center;
  padding: 0.25em 1em;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

nav li a:hover {
  background-color: #eaddc8;
  color: #141414;
}

nav li {
  margin-right: 5vw;
  margin-left: 5vw;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #eaddc8;
  text-align: center;
  padding: 1px;
  background-color: rgba(0, 0, 0, 0.5);
}

.footerimage {
  height: 24px;
  width: 24px;
  margin: 10px;
  vertical-align: middle;
}

footer a {
  text-decoration: none;
}

.instructions {
  font-size: 12px;
  color: #eaddc8;
  margin-top: 10px;
  padding: 10px;
}

/*page 1*/

#page-1-container {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome {
  color: #feecac;
  font-size: 50px;
  font-family: "Kanit", sans-serif;
  width: 95vw;
  padding: 20px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  margin-top: 10vh;
}

#get-started-button {
  background-color: #d24928;
  border: none;
  color: #eaddc8;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  padding: 0.75em 3em;
  border-radius: 15px;
  margin-top: 10vh;
}

#get-started-button:hover {
  background-color: #41c147;
}

/*page 2*/

#options-container {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#optionsheader {
  font-size: 30px;
  color: #eaddc8;
  margin-top: 7vh;
}

.options-radio {
  display: flex;
  justify-content: center; /*remove if decide to display content on side */
  align-items: center;
  margin-bottom: 1vh;
  margin-top: 1vh;
  width: 50vw;
  border: 1px solid #141414;
  background-color: #eaddc8;
  border-radius: 5px;
  padding: 1em;
}

.options-radio img {
  width: 50px;
  height: 50px;
  padding: 0 1em;
}

#options-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #d24928;
  border: none;
  color: #eaddc8;
  padding: 1em 2em;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5vh;
  margin-top: 1vh;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
}

#options-button:hover {
  background-color: #39a53e;
}

.options-var {
  font-size: 20px;
  color: #EADDC8;
  text-align: center;
}

input[type="radio"] {
  transform: scale(1.5);
  margin: 0 1.5em;
}

/*page 3*/

.checklist-container {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.checklist-output {
  width: 50vw;
  margin: 0 auto;
}

.checklist-output li {
  list-style-type: none;
  border: 1px solid #141414;
  background-color: #eaddc8;
  padding: 0.5em;
  margin: 0.5vh auto;
  border-radius: 5px;
  text-align: left;
}

.output-title {
  color: #eaddc8;
  text-align: center;
}

.output-item {
  color: #141414;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin: 0 1.5em;
}

#submit-button {
  background-color: #d24928;
  border: none;
  color: #EADDC8;
  padding: 1em 2em;
  text-decoration: none;
  font-size: 18px;
  margin-top: 2vh;
  margin-bottom: 5vh;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
}

#submit-button:hover {
  background-color: #39a53e;
}

.checklist-header {
  font-size: 30px;
  color: #eaddc8;
  text-align: center;
  margin-top: 7vh;
}

/*page 4*/

.checkedItems-List {
  width: 50vw;
  margin: 0 auto;
}

.checkedItems-List li {
  list-style-type: none;
  border: 1px solid #141414;
  background-color: #fff9e3;
  padding: 0.5em;
  margin: 0.5vh auto;
  border-radius: 5px;
  text-align: left;
}

li.selected {
  background-color: rgba(0, 0, 0, 0.5); 
  color: grey;
}

#donebutton {
  background-color: #d24928;
  border: none;
  color: #EADDC8;
  padding: 1em 2em;
  font-size: 18px;
  margin-top: 2vh;
  margin-bottom: 5vh;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  text-decoration: none;
}

#donebutton:hover {
  background-color: #39a53e;
}

#donebutton a {
  text-decoration: none;
  color: #EADDC8;
}

/* about page */

#about-container {
  width: 70vw;
  margin: auto;
  margin: 7vh auto;
}

.about-section {
  font-size: 18px;
  margin: 1.5em;
  background-color: #EADDC8;
  padding: 1em 3em;
  border: 1px solid #141414;
  border-radius: 10px;
}

/* weatherpage */

/* height and spacing changes
number/text linup with img in wind/humidity 
add weather app button on landing page */

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(180deg, #141414, #292929);
  border: 1px solid #d24928;
  color: #EADDC8;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #EADDC8;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #EADDC8;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.search button img {
  width: 22px;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
  margin-bottom: -5px;
}

.weather {
  display: none;
}

.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}