/* 
color template:
main orange: #d24928
title color: #feecac
main black: #141414
main white: #EADDC8 
hover: #39a53e
off orange: #f15b35
off white: #dcccb0
selected: rgba(234, 221, 200, 0.45)
remove button main: #d71212
*/

/* For mobile devices */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .main-nav {
    flex-direction: column;
    padding: 1vh;
    font-size: 14px;
  }

  .main-nav ul {
    flex-direction: column;
    align-items: center;
  }
  .main-nav li {
    margin-right: 2vw;
    margin-left: 2vw;
  }
  .instructions {
    font-size: 12px;
    padding: 5px;
  }
  #welcome {
    font-size: 30px;
    padding: 10px;
    width: 80vw;
  }
  #new-checklist-button,
  #saved-checklist-button {
    font-size: 16px;
    padding: 0.55em 1.5em;
  }
  #options-header {
    font-size: 20px;
    margin-top: 5vh;
  }
  #options-var {
    font-size: 16px;
  }
  .options-radio {
    width: 70vw;
    padding: 0.5em;
  }
  .options-radio.selected::after {
    font-size: 20px;
  }
  #options-button {
    font-size: 14px;
    padding: 10px 20px;
  }
  .checklist-header {
    font-size: 24px;
    margin-top: 5vh;
  }
  .checklist-nav li {
    margin-right: 2vw;
    margin-left: 2vw;
  }
  .checklist-nav button {
    font-size: 14px;
    padding: 0.3em 0.6em;
  }
  #output h2 {
    font-size: 20px;
  }
  #submit-button {
    font-size: 14px;
    padding: 10px 20px;
  }
  #output li {
    font-size: 14px;
    padding: 10px 20px;
    width: 70vw;
  }
  #input-container {
    width: 65vw;
  }
  #doneButton {
    font-size: 14px;
    padding: 10px 20px;
  }
  .about-section {
    font-size: 16px;
    padding: 1em;
  }
  .alt-nav button {
    font-size: 14px;
    padding: 0.3em 0.6em;
  }
  #contact-container {
    width: 80vw;
  }
  .contact-label {
    font-size: 16px;
  }
  #contact-form input[type="submit"] {
    font-size: 14px;
    padding: 10px 20px;
  }
  #no-checklist-image {
    width: 30vw;
  }
  #no-checklist-text {
    font-size: 14px;
  }
  #no-checklist-button {
    font-size: 16px;
    padding: 11px 22px;
  }
  .weather-container {
    flex-wrap: wrap;
  }
  .weather-input {
    width: 90vw;
    margin: 0 auto;
  }
  .weather-data {
    margin-top: 3vh;
  }
  .weather-container .weather-cards {
    flex-wrap: wrap;
    padding: 15px;
  }
  .weather-cards .card {
    width: 100%;
  }
  #to-do-checklist-container h1 {
    font-size: 24px;
    margin-top: 5vh;
  }
  #to-do-checklist li {
    font-size: 14px;
    padding: 10px 20px;
    width: 70vw;
  }
  #to-do-add-item-button {
    font-size: 14px;
    padding: 6px 15px;
  }
  #to-do-submit-button {
    font-size: 14px;
    padding: 1em;
  }
  #to-do-checked-tasks-list li {
    font-size: 14px;
    padding: 10px 20px;
    width: 70vw;
  }
  #to-do-checked-tasks-done-button {
    font-size: 14px;
    padding: 10px 20px;
  }
  #to-do-input-container input {
    font-size: 14px;
  }
}

/* For tablet devices */
@media (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
  .main-nav {
    flex-direction: row;
    padding: 1.5vh;
    font-size: 14px;
  }

  .main-nav ul {
    flex-direction: row;
  }

  .main-nav li {
    margin-right: 1.1vw;
    margin-left: 1.1vw;
  }
  .instructions {
    font-size: 13px;
    padding: 5px;
  }
  #welcome {
    font-size: 40px;
    padding: 15px;
    width: 85vw;
  }

  #new-checklist-button,
  #saved-checklist-button {
    font-size: 18px;
    padding: 0.6em 1.75em;
  }
  #options-header {
    font-size: 25px;
    margin-top: 6vh;
  }
  #options-var {
    font-size: 18px;
  }
  .options-radio {
    width: 60vw;
    padding: 0.75em;
  }
  .options-radio.selected::after {
    font-size: 25px;
  }
  #options-button {
    font-size: 18px;
    padding: 12px 24px;
  }
  .checklist-header {
    font-size: 28px;
    margin-top: 6vh;
  }
  .checklist-nav li {
    margin-right: 4vw;
    margin-left: 4vw;
  }
  .checklist-nav button {
    font-size: 16px;
    padding: 0.4em 0.75em;
  }
  #output h2 {
    font-size: 25px;
  }
  #submit-button {
    font-size: 16px;
    padding: 12px 24px;
  }
  #output li {
    font-size: 16px;
    padding: 12px 24px;
    width: 60vw;
  }
  #input-container {
    width: 55vw;
  }
  #doneButton {
    font-size: 16px;
    padding: 12px 24px;
  }
  .about-section {
    font-size: 18px;
    padding: 1em 2em;
  }
  .alt-nav button {
    font-size: 16px;
    padding: 0.35em 0.7em;
  }
  #contact-container {
    width: 70vw;
  }
  .contact-label {
    font-size: 18px;
  }
  #contact-form input[type="submit"] {
    font-size: 16px;
    padding: 11px 22px;
  }
  #no-checklist-image {
    width: 20vw;
  }
  #no-checklist-text {
    font-size: 17px;
  }
  #no-checklist-button {
    font-size: 18px;
    padding: 12px 24px;
  }
  .weather-container {
    flex-wrap: wrap;
  }
  .weather-input {
    width: 80vw;
    margin: 0 auto;
  }
  .weather-data {
    margin-top: 3vh;
  }
  .weather-cards .card {
    width: 100%;
  }
  #to-do-checklist-container h1 {
    font-size: 25px;
    margin-top: 6vh;
  }
  #to-do-checklist li {
    font-size: 16px;
    padding: 12px 24px;
    width: 60vw;
  }
  #to-do-add-item-button {
    font-size: 16px;
    padding: 6px 15px;
  }
  #to-do-submit-button {
    font-size: 16px;
    padding: 1em;
  }
  #to-do-checked-tasks-list li {
    font-size: 16px;
    padding: 12px 24px;
    width: 60vw;
  }
  #to-do-checked-tasks-done-button {
    font-size: 16px;
    padding: 12px 24px;
  }
  #to-do-input-container input {
    font-size: 16px;
  }
}

/* For desktop devices */
@media (min-width: 1025px) {
  body {
    font-size: 18px;
  }
  .main-nav {
    flex-direction: row;
    padding: 2vh;
    font-size: 16px;
  }

  .main-nav ul {
    flex-direction: row;
  }

  .main-nav li {
    margin-right: 3vw;
    margin-left: 3vw;
  }
  .instructions {
    font-size: 14px;
    padding: 15px;
  }
  #welcome {
    font-size: 50px;
    padding: 20px;
    width: 90vw;
  }

  #new-checklist-button,
  #saved-checklist-button {
    font-size: 20px;
    padding: 0.65em 2em;
  }
  #options-header {
    font-size: 30px;
    margin-top: 7vh;
  }
  #options-var {
    font-size: 20px;
  }
  .options-radio {
    width: 50vw;
    padding: 1em;
  }
  .options-radio.selected::after {
    font-size: 30px;
  }
  #options-button {
    font-size: 20px;
    padding: 14px 28px;
  }
  .checklist-header {
    font-size: 34px;
    margin-top: 7vh;
  }
  .checklist-nav li {
    margin-right: 5vw;
    margin-left: 5vw;
  }
  .checklist-nav button {
    font-size: 18px;
    padding: 0.5em 1em;
  }
  #output h2 {
    font-size: 30px;
  }
  #submit-button {
    font-size: 18px;
    padding: 14px 28px;
  }
  #output li {
    font-size: 18px;
    padding: 14px 28px;
    width: 50vw;
  }
  #input-container {
    width: 45vw;
  }
  #doneButton {
    font-size: 18px;
    padding: 14px 28px;
  }
  .about-section {
    font-size: 20px;
    padding: 1em 3em;
  }
  .alt-nav button {
    font-size: 16px;
    padding: 0.4em 0.8em;
  }
  #contact-container {
    width: 60vw;
  }
  .contact-label {
    font-size: 20px;
  }
  #contact-form input[type="submit"] {
    font-size: 18px;
    padding: 12px 22px;
  }
  #no-checklist-image {
    width: 15vw;
  }
  #no-checklist-text {
    font-size: 20px;
  }
  #no-checklist-button {
    font-size: 18px;
    padding: 12px 24px;
  }
  .weather-input {
    width: 500px;
    margin-right: 3vw;
  }
  .weather-cards .card {
    width: calc(100% / 5);
  }
  #to-do-checklist-container h1 {
    font-size: 30px;
    margin-top: 7vh;
  }
  #to-do-checklist li {
    font-size: 18px;
    padding: 14px 28px;
    width: 50vw;
  }
  #to-do-add-item-button {
    font-size: 18px;
    padding: 6px 15px;
  }
  #to-do-submit-button {
    font-size: 18px;
    padding: 1em;
  }
  #to-do-checked-tasks-list li {
    font-size: 18px;
    padding: 14px 28px;
    width: 50vw;
  }
  #to-do-checked-tasks-done-button {
    font-size: 18px;
    padding: 14px 28px;
  }
  #to-do-input-container input {
    font-size: 18px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("images/mainbackgroundblur.jpg");
  background-color: #141414;
  color: #141414;
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  scrollbar-color: black;
}

button {
  font-family: "poppins", sans-serif;
}

input {
  font-family: "Poppins", sans-serif;
}

.divider {
  width: 75vw;
  height: 2px;
  background-color: #d24928;
  margin: 2vh 10vw;
  border: none;
  border-radius: 2px;
}

.main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
}

.main-nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav li a {
  display: block;
  color: #eaddc8;
  text-align: center;
  padding: 0.25em 1em;
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main-nav li a:hover {
  background-color: #eaddc8;
  color: #141414;
}

.instructions {
  color: #eaddc8;
  margin-top: 10px;
  text-align: center;
}

.checklist-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  margin-top: 1vh;
  margin-bottom: 0.75vh;
}

.checklist-nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.checklist-nav button {
  background-color: #eaddc8;
  color: #141414;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  border-radius: 15px;
}

.checklist-nav button:hover {
  background-color: #dcccb0;
  color: #141414;
}

#restart-button {
  background-color: #d71212;
  cursor: pointer;
}

#restart-button:hover {
  background-color: #b31313;
}

.alt-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  margin-top: 3vh;
}

.alt-nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.alt-nav li {
  margin-right: 1vw;
  margin-left: 1vw;
}

.alt-nav button {
  background-color: #eaddc8;
  color: #141414;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  border-radius: 15px;
}

.alt-nav button:hover {
  background-color: #dcccb0;
}

li {
  position: relative;
}

.remove-button {
  background-color: white;
  border: 1px solid #141414;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 5px;
}

.remove-button:hover {
  cursor: pointer;
}

/*page 1*/

#page-1-container {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}

#welcome {
  color: #feecac;
  font-family: "Karla", sans-serif;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  text-align: center;
  margin-top: 10vh;
}

#page-1-buttons {
  display: flex;
  justify-content: space-between;
}

#new-checklist-button,
#saved-checklist-button {
  background-color: #d24928;
  border: none;
  color: #eaddc8;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin: 5vh 15px 0 15px;
}

#new-checklist-button:hover,
#saved-checklist-button:hover {
  background-color: #39a53e;
}

/*page 2*/

#options-container {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#options-header {
  color: #eaddc8;
}

#options-var {
  color: #eaddc8;
  text-align: center;
}

.options-radio {
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
  margin-top: 1vh;
  border: 1px solid #141414;
  background-color: #eaddc8;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.options-radio:hover {
  background-color: #dcccb0;
  cursor: pointer;
}

.options-radio img {
  width: 50px;
  height: 50px;
  padding: 0 1em;
}

.options-radio input[type="radio"] {
  display: none;
}

.options-radio.selected {
  background-color: #d24928;
  transform: scale(1.025);
}

.options-radio.selected::after {
  content: "\2714";
  color: rgb(12, 12, 12);
  font-weight: bold;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

#options-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #d24928;
  border: none;
  color: #eaddc8;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 5vh;
  margin-top: 1vh;
  cursor: pointer;
  border-radius: 5px;
}

#options-button:hover {
  background-color: #39a53e;
}

/*page 3*/

.checklist-container {
  width: 80vw;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.checklist-header {
  color: #eaddc8;
  text-align: center;
}

#output {
  display: flex;
  flex-direction: column;
}

#output h2 {
  color: #eaddc8;
  text-align: center;
}

#output ul {
  margin: 0 auto;
  padding: 0;
}

#output li {
  background-color: #eaddc8;
  margin: 0.5vh auto;
  border-radius: 5px;
  border: 1px solid #141414;
  list-style-type: none;
  cursor: pointer;
}

#output li:hover {
  background-color: #dcccb0;
}

#output li.checklistSelected {
  background-color: rgba(234, 221, 200, 0.45);
}

input[type="checkbox"] {
  transform: scale(1.8);
  margin: 0 1.5em;
  accent-color: #d24928;
  cursor: pointer;
}

#submit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #d24928;
  border: none;
  color: #eaddc8;
  text-decoration: none;
  margin-top: 2vh;
  margin-bottom: 5vh;
  cursor: pointer;
  border-radius: 5px;
}

#submit-button:hover {
  background-color: #39a53e;
}

#input-container {
  margin: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

#input-container input {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: #eaddc8;
  border-radius: 5px;
  font-size: 16px;
}

#input-container input:focus {
  outline-color: #d24928;
}

#input-container button {
  background-color: #d24928;
  border: none;
  color: #eaddc8;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid #141414;
  margin-left: 10px;
}

#input-container button:hover {
  background-color: #f15b35;
}

/*page 4*/

#output li.checkedItemsSelected {
  background-color: rgba(234, 221, 200, 0.45);
}

#doneButton {
  background-color: #d24928;
  border: none;
  color: #eaddc8;
  margin-top: 2vh;
  margin-bottom: 5vh;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

#doneButton:hover {
  background-color: #39a53e;
}

#doneButton a {
  text-decoration: none;
  color: #eaddc8;
}

/* about page */

#about-container {
  width: 80vw;
  margin: auto;
  margin: 7vh auto;
}

.about-section {
  margin: 1.5em;
  background-color: #eaddc8;
  border: 1px solid #141414;
  border-radius: 10px;
  padding: 1.2em;
  text-align: center;
}

/* contact me page */

#contact-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7vh;
}

#contact-form {
  width: 100%;
  color: #eaddc8;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px auto;
  box-sizing: border-box;
  background-color: #eaddc8;
  border-radius: 10px;
  font-size: 16px;
}

#contact-form input[type="submit"] {
  background-color: #d24928;
  color: #eaddc8;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 2vh auto;
  display: block;
}

#contact-form input[type="submit"]:hover {
  background-color: #39a53e;
}

/* weather app */

.weather-container {
  display: flex;
  padding: 7vh 3vw;
}

.weather-input h2 {
  color: #eaddc8;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.weather-input h3 {
  color: #eaddc8;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

#weather-app-previous,
#weather-app-home {
  background-color: #eaddc8;
  color: #141414;
}

#weather-app-previous:hover,
#weather-app-home:hover {
  background-color: #39a53e;
  cursor: pointer;
}

.weather-input input,
.weather-input button {
  height: 50px;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 8px;
  box-sizing: border-box;
  text-align: center;
  border: none;
}

.search-btn {
  background: #d24928;
  color: #eaddc8;
}

.location-btn {
  background: #5c636a;
  color: #eaddc8;
}

.location-btn:hover,
.search-btn:hover {
  background: #39a53e;
  cursor: pointer;
}

.separator {
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: #eaddc8;
}

.weather-data {
  width: 100%;
}

.weather-data .current-weather {
  color: #eaddc8;
  background: linear-gradient(180deg, #141414, #292929);
  border-radius: 5px;
  border: 1px solid #d24928;
  padding: 20px 70px 20px 50px;
  display: flex;
  justify-content: space-between;
}

.current-weather h2 {
  font-weight: 700;
  font-size: 1.7rem;
}

.weather-data h6 {
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 500;
}

.current-weather .icon {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.current-weather .icon img {
  max-width: 120px;
}

.current-weather .icon h6 {
  margin-top: -5px;
  text-transform: capitalize;
}

.days-forecast h2 {
  margin: 20px 0;
  font-size: 1.5rem;
  color: #eaddc8;
  font-weight: bold;
}

.days-forecast .weather-cards {
  display: flex;
  gap: 15px;
}

.weather-cards .card {
  color: #eaddc8;
  padding: 16px;
  list-style: none;
  background: linear-gradient(180deg, #141414, #292929);
  border: 1px solid #d24928;
  border-radius: 5px;
}

.weather-cards .card h3 {
  font-size: 1.3rem;
  font-weight: 600;
}

.weather-cards .card img {
  max-width: 70px;
  margin: 5px 0 -12px 0;
}

/* no checklist */

#no-checklist-container {
  width: 80vw;
  margin-top: 7vh;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #eaddc8;
}

#no-checklist-image {
  margin: 2vh;
}

#no-checklist-text {
  text-align: center;
}

#no-checklist-button {
  background-color: #d24928;
  border: none;
  color: #eaddc8;
  margin-top: 4vh;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

#no-checklist-button:hover {
  background-color: #39a53e;
}

/* to-do checklist */

#to-do-checklist-container {
  width: 80vw;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#to-do-checklist-container h1 {
  color: #eaddc8;
  text-align: center;
}

#to-do-checklist {
  margin: 0 auto;
  padding: 0;
}

#to-do-checklist li {
  background-color: #eaddc8;
  margin: 0.5vh auto;
  border-radius: 5px;
  border: 1px solid #141414;
  list-style-type: none;
  cursor: pointer;
}

/* to-do checked tasks */

#to-do-checked-tasks-container {
  width: 80vw;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#to-do-checked-tasks-container h1 {
  color: #eaddc8;
  text-align: center;
}

#to-do-checked-tasks-list {
  margin: 0 auto;
  padding: 0;
}

#to-do-checked-tasks-list li {
  background-color: #eaddc8;
  margin: 0.5vh auto;
  border-radius: 5px;
  border: 1px solid #141414;
  list-style-type: none;
  cursor: pointer;
}

/* temp */

#to-do-input-container {
  margin: auto;
  width: 50vw;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

#to-do-input-container input {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: #eaddc8;
  border-radius: 5px;
}

#to-do-input {
  flex-grow: 1;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: #eaddc8;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

#to-do-input:focus {
  outline-color: #d24928;
}

#to-do-add-item-button,
#to-do-submit-button {
  background-color: #d24928;
  border: none;
  color: #eaddc8;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #141414;
}

#to-do-add-item-button:hover {
  background-color: #f15b35;
}

#to-do-submit-button:hover {
  background-color: #39a53e;
}

#to-do-submit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

#to-do-checked-tasks-done-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #d24928;
  border: none;
  color: #eaddc8;
  text-decoration: none;
  margin-top: 2vh;
  margin-bottom: 5vh;
  cursor: pointer;
  border-radius: 5px;
}

#to-do-checked-tasks-done-button:hover {
  cursor: pointer;
  background-color: #39a53e;
}
