body {
    margin: 0;
    padding: 0;
    font-family: baskerville, Arial, Helvetica, sans-serif;
    background: url('images/backgroundimage.jpg') center/cover no-repeat fixed;
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#page-1-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    list-style: none;
    margin: 0;
    padding: 0;
}

#page-1-nav ul {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 0;
}

#page-1-nav li {
    display: inline;
}

#page-1-nav a {
    text-decoration: none;
    color: white;
    display: block;
    cursor: pointer;
}

#page-1-nav a:hover {
    color:#c0c0c0;
}

#page-1-container  {
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    margin-top: 100px;
}
/*redo formatting on these*/
#welcome, #about, #how-it-works {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: black;
    background-color: #FFF9E9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
}

.animated-button {
    display: inline-block;
    border-radius: 10px;
    background-color: #04AA6D;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .animated-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .animated-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .animated-button:hover span {
    padding-right: 25px;
  }
  
  .animated-button:hover span:after {
    opacity: 1;
    right: 0;
  }

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    text-align: center;
    font-size:18px;
}

.footer-text-left, .footer-text-right {
    width: 50%;
    display: inline-block;
}

.footer-text-right {
    float: right;
}

.return-to-main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 10px;
}

.return-to-main-nav a {
    text-decoration: none;
    color: white;
    display: block;
    cursor: pointer;
}

.return-to-main-nav a:hover {
    color:#c0c0c0;
}

#options-container {
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    margin-top: 100px;
    margin-bottom:80px;
    background-color: #FFF9E9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
} 
/*how to make input:checked change color or button*/
.radiowithimage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    position: relative;
    border: 2px solid black; 
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.5s;
}
  
.radiowithimage:hover {
    background-color: #e5e0d1; /* Change color */
}
  
.radiowithimage input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}
  
.radiowithimage img {
    width: 50px;
    height: 50px; 
    margin: 5px; 
}
  
.radiowithimage label {
    width: 100%;
    text-align: center;
}

#options-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #04AA6D;
    color: white; 
    transition: 0.5s;
}
  
#options-button:hover {
    background-color: #04AA6D;
    color: black;
}

.list-container{
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    margin-bottom:80px;
    background-color: #FFF9E9;
    border-radius: 10px;
    width:80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
}

.checkitems{
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    margin-top: 100px;
    margin-bottom:10px;
    background-color: #FFF9E9;
    border-radius: 10px;
    width:80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
}

.checklist-section{
  border: 1px solid black;  
  border-radius: 10px;
}
/*reduce margintop on first*/
.checklist-title{
    margin-top:20px;
    margin-bottom: 20px;
}

.checklist-section ul {
    list-style-type: none;
    padding: 5px; 
}
/*remove checkbox and make whole item selectable*/
.checklist-section li{
    margin: 0;
      padding: 10px 10px 10px 30px;
      border: 1px solid #ccc;
      margin-bottom: 5px;
      margin-top: 5px;
      border-radius: 10px;
      display: flex;
      align-items: left;
}